*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.headcontain{
   position:sticky;
    position: -webkit-sticky;
 font-size:20px;
    width:100%;
    heigth:auto;
   
    
  top: 0;
  padding: 5px;
  background-color: transparent;
  border-bottom: rgba(255,255,255,0.8);

  text-align:left;
  box-shadow:3px 3px 3px grey;
  z-index:1;}
  @media(min-width:768px){.headcontain{font-size:20px;}
      
  }
